<footer>
  <div class="footer-links">
    <a href="mailto:hello@foundationalthings.com" title="Email"
      >Email<svg aria-hidden="true" focusable="false">
        <use href="#email_icon_svg" xlink:href="#email_icon_svg" /></svg
    ></a>
    <a
      href="https://www.youtube.com/@foundationalthings"
      target="_blank"
      title="YouTube"
      >YouTube<svg aria-hidden="true" focusable="false">
        <use href="#youtube_icon_svg" xlink:href="#youtube_icon_svg" /></svg
    ></a>

    <a
      href="https://www.facebook.com/FoundationalThings"
      target="_blank"
      title="Facebook"
      >Facebook<svg aria-hidden="true" focusable="false">
        <use href="#facebook_icon_svg" xlink:href="#facebook_icon_svg" /></svg
    ></a>

    <a
      href="https://github.com/FoundationalThings"
      target="_blank"
      title="GitHub"
      >GitHub<svg aria-hidden="true" focusable="false">
        <use href="#github_icon_svg" xlink:href="#github_icon_svg" /></svg
    ></a>

    <a href="https://ko-fi.com/foundationalthings" target="_kofi" title="Ko-Fi"
      >Ko-Fi<svg aria-hidden="true" focusable="false">
        <use href="#kofi_icon_svg" xlink:href="#kofi_icon_svg" /></svg
    ></a>
  </div>
  <p class="footer-copy">
    © 2026 Foundational Things &nbsp;&nbsp;
    <a href="./privacy.html">Privacy Policy</a>
  </p>
  <div class="github-pages-link">
    <p class="footer-copy">
      <a href="https://docs.github.com/en/pages" target="_blank">
        Foundational Things is proudly hosted on

        <img
          alt="GitHub Pages"
          title="GitHub Pages"
          src="https://img.shields.io/badge/GitHub-Pages-181717?style=flat&logo=github&logoColor=white"
      /></a>
    </p>
  </div>
</footer>
